<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROYECTO_ING_DE_SOFTWARE.Properties.Settings.Gestion_UsuarioConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;Gestion Usuario&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>